@import url(../assets/fonts/PTMono-Regular.ttf);
@import url(../assets/fonts/Tangerine-Regular.ttf);
@import url(../assets/fonts/Tangerine-Bold.ttf);

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
    max-width: 1366px;
}

body {

    background-color: #FFD7BA;
}

.menu {

    width: 100%;
    height: 125px;
    padding: 0 2%;
    background-color: #E8E8E4;
}

nav {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

nav a {
    width: 150px;
}

.logo {
    
    width: 80px;
    height: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px 10px 30px;
    color: rgb(29, 28, 28);
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
}

h2 {
    text-align: center;
    color:#D98448;
    font-family: 'Tangerine', cursive;
}

p{
    color: black;
    text-align: center;
}


.banner {
    margin-top: 10px;
}

.banner img {
    display: block;
    max-width: 1024px;
    width: 100%;
    height: auto;
    margin-left: 12%;
    border-radius: 5%;
}

.banner h1 {

    font-size: 48px;
    text-align: center;
    padding-bottom: 30px;

}

.organizacion {
    width: 1366px;
    margin-left: 440px;
}

.apartado {
    padding: 50px 20px 30px 30px;
    display: inline-block;
}

.botonApartado {
    width: 120px;
    height: 120px;
    background-color: #E8E8E4 ;
    border-radius: 100px;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    line-height: 100px;
    text-align: center;
    float: left;
    text-decoration: none;
    color: black;

}

.botonApartado:hover {
    opacity: 0.7;
}

.recordar {

    padding: 20px 100px 20px 100px ;
}

.recordar h2 {
    font-size: 36px;
    text-align: center;
    padding: 10px;
}

.recordar p {

    font-size: 20px;
}

.fotos {
    text-align: center;
}

.fotos h2 {
    padding: 10px 0 0 0;
    margin: 0px 20px 20px 20px;
    font-size: 56px;
}

.album {

    max-width: 1366px;
    display: flex;
}

.card {
    width: 500px;
    height: 700px;
    margin: 25px;
    border-radius: 50px;
    background: #E8E8E4;
}

.card img {
    margin-top: 10px;
    width: 90%;
    border-radius: 50px;
}

.card h3 {
    width: 200px;
    height:50px;
    text-align: center;
    padding-left: 0px;
    margin-top: 20px;
    
}

.card p {
    margin-top: 15px;
    padding-left: 15px;
    text-align: center;
    width: 200px;

}

footer {
    background-color: #E8E8E4;
    color: black;
    text-align: center;
    margin-top: 50px;
    padding: 20px 100px 20px 100px;
    font-size: 20px;
  }



